/* ---global styles--- */
body {
    background: #fff;
}
.dark-mode {
    background-color: #000;
    color: white;
}

/* ---button styles--- */
.btn-font, .btn-font:hover, .btn-font:focus {
    background: #848484;
    border: none;
    border-radius: 50%;
    outline: 0;
    color: #fff;
    width: 30px;
    height: 27px;
    padding: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
    font-size: .9rem;
}
.btn-dl, .btn-dl:hover, .btn-dl:focus {
    background: #323232;
    border: none;
    border-radius: 50%;
    outline: 0;
    color: #fff;
    width: 30px;
    height: 27px;
    padding: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
    font-size: .9rem;
}
.btn-icon, .btn-icon:hover, .btn-icon:focus {
    background: #d6d6d6;
    border: none;
    border-radius: 50%;
    outline: 0;
    color: #323232;
    width: 30px;
    height: 27px;
    padding: 3px;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
    font-size: .9rem;
}


/* -----placeholder----- */
input:focus::-webkit-input-placeholder {
    color: #fff;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: .8rem;
}
input:focus:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: .8rem;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: .8rem;
}
input:focus:-ms-input-placeholder {
    color: #fff;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: .8rem;
}


/* ---background colors--- */



/* ---header sections--- */
.top-bar {
    padding: 3px 0;
}
.navbar-div {
    background: #4f7e30;
}
.navbar {
    padding: 0;
}
.navbar-brand img {
    width: 90px;
    /*height: 100px;*/
}
/*.navbar-nav {
    display: table;
    width: 100%;
}*/
.navbar-nav li {
    vertical-align: middle;
    padding-right: 1rem;
    /*display: table-cell;*/
}
.search_input {
    margin-top: 13px;
}
/*.search_input .input-group {
    width: 17rem;
}*/
.search_input input, .search_input input:focus {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
    border-color: #fff;
    color: #fff;
    border-width: 2px;
}
.search_input span {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: transparent !important;
    color: #fff;
}
.search_input button, .search_input button:hover {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
    border: 2px solid #fff !important;
    border-left: 0 !important;
    padding: .3rem .75rem;
    outline: 0;
}
.user_log {
    margin-top: 7px;
}
.user_log i {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    display: block;
}
.user_log p {
    color: #fff;
    text-align: center;
}
.navbar-nav div.has-mega-menu a:after {
    display: none;
}
.navbar-nav div.has-mega-menu i {
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 9px;
    font-size: 1.5rem;
}
.dropdown-menu {
    padding: .5rem;
    background: rgba(124,198,43,.95);
}
.dropdown-menu li a, .dropdown-menu li {
    color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.web_name {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}
.navbar-nav .col-md-5 {
    margin-left: 0;
}


/* ---left/right-sidebar--- */
.block {
    padding: .6rem .7rem;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 12px -6px #888;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fff;
}
.block ul {
    margin-top: 15px;
    margin-bottom: 0;
}
.block li {
    margin-left: 15px;
    font-size: .79rem;
    margin-bottom: 5px;
    color: #333;
}
.block li:last-child {
    margin-bottom: 0;
}
.block li:before {
    content: "\f18c";
    font-family: "Font Awesome 5 Brands";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: #4f7e30;
    font-weight: 600;
}
.block li ul li:before {
    content: "\f3ac";
    font-family: "Font Awesome 5 Brands";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: #4f7e30;
    font-weight: 600;
    font-size: .7rem;
}
.block li ul li ul li:before {
    content: "\f06d";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: #4f7e30;
    font-weight: 600;
    font-size: .7rem;
}
.block li a {
    color: #4f7e30;
}
.ribbon {
    font-weight: 600;
}
/*.ribbon {
    background: #4f7e30;
    color: #fff;
    cursor: pointer;
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}*/
/*.ribbon:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 13px;
    border-style: solid;
    border-left-color: #4f7e30;
    position: absolute;
    right: -26px;
    top: 0;
}*/
.view_all {
    font-size: .8rem;
    text-decoration: underline;
    margin-bottom: -9px;
}
.view_all a {
    color: #1c4501;
    font-weight: 600;
}



/* ---main-content--- */
.wrapper .inside {
    z-index: 9;
    background: #4f7e30;
    width: 110px;
    height: 110px;
    position: absolute;
    top: -55px;
    right: -49px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}
.wrapper .inside .icon {
    position: absolute;
    right: 68px;
    top: 68px;
    color: white;
    opacity: 1;
    font-size: 1.1rem;
}
.wrapper {
    width: 100%;
    height: 100%;
    /*background: white;*/
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 27px -15px rgba(0, 0, 0, 0.4);
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    padding: 1rem;
    display: table;
}
.wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 9px 23px rgba(0, 0, 0, 0.2);
}
.info-content {
    margin-bottom: 2.3rem;
}
.info-content .col-md-4 {
    padding: 0 7px;
    margin-bottom: 13px;
}
.wrapper-txt {
    vertical-align: middle;
    display: table-cell;
}
.wrapper p:nth-child(1) {
    font-size: 2.5rem;
    font-weight: 700;
}
.wrapper p:nth-child(2) {
    font-size: .9rem;
    min-height: 63px;
}

.content_details, .main-content {
    height: 100%;
}
.content_details .title {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    background: #4f7e30;
    color: #fff;
    padding-left: 15px;
    border-left: 11px solid #1c4501;
}
.main-content table {
    background: #fff;
}
.album-view img {
    width: 280px;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 23px -9px #888;
}


.statement_img {
    box-shadow: 0px 0px 15px -6px #888;
    margin-left: 7px;
}
.statement_img img {
    width: 215px;
    height: 160px;
}
.statement_img p {
    text-align: center;
    font-size: .55rem !important;
    font-weight: 700;
    background: #fff;
    padding: 10.1rem 0 .2rem;
}
.cm p {
    font-size: .85rem;
}
.cm a, .cm a:hover, .cm a:focus {
    color: #4f7e30;
    font-size: .8rem;
    font-weight: 600;
    text-decoration: underline;
}
.cm a i {
    vertical-align: middle;
}
.news-block {
    padding: .6rem 1rem;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 12px -6px #888;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    height: 270px;
}
.news-block ul {
    margin-top: 15px;
    margin-bottom: 0;
    list-style: none;
    padding-left: 15px;
}
.news-block li {
    font-size: .79rem;
    margin-bottom: 5px;
    color: #333;
}
.news-block li:last-child {
    margin-bottom: 0;
}
.news-block li a {
    color: #4f7e30;
}
#news li a {
    font-size: 1rem;
    font-weight: 600;
}
.graphs {
    font-size: .9rem;
}
.graphs .block {
    padding: .6rem .4rem;
    min-height: 205px;
    margin-bottom: 0;
}
.graphs .block p {
    height: 50px;
}
.events.owl-carousel .owl-item img {
    height: 130px;
}



/* ---footer styles--- */
footer {
    background: #4f7e30;
    color: #fff;
}
footer .foot-links a {
    color: #fff;
    text-decoration: none;
}
footer .foot-links {
    padding: 15px 0;
}
footer .hr {
    border-top: 5px solid #91cf4d;
}
footer .bottom-bar {
    padding: 5px;
    font-size: .8rem;
}



/* media queries */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: inherit;
    }
    .navbar-brand {
        position: absolute;
        top: 0;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .dropdown-toggle {
        text-align: center;
    }
}